@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {

  /* Hexa-color */
  --primary-color: #a63a50;
  --secondary-color: #f0e7d8;
  --third-color: #a1674a;

  --white-color: #F7F7F7;
  --black-color: #131313;

  /* RGBA */
  --rgba-primary-color: rgb(166, 58, 80);
  --rgba-secondary-color: rgb(240, 231, 216);
  --rgba-third-color: rgb(161, 103, 74);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

body {
  background-color: var(--secondary-color);
  font-family: 'Balsamiq Sans',
    cursive;
  font-family: 'Heebo',
    sans-serif;
  color: var(--black-color);
}

/* Navbar */
header#nav {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

header#nav img {
  width: 98px;
  height: auto;
}

.burger {
  display: none;
}

.navbar>ul {
  display: flex;
  list-style: none;
}

.navbar>ul>li>a {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 25px;
  margin: 0 5px;
  transition: 0.2s;
}

.navbar>ul>li>a>img {
  margin-bottom: 10px;
  width: 48px;
}

@media screen and (max-width: 1320px) {
  header#nav {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1100px) {
  header#nav {
    padding: 0 30px;
  }
}

@media screen and (max-width: 900px) {
  .burger {
    display: block;
    cursor: pointer;
  }

  .burger>span.line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 6px 0;
  }

  .navbar {
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    transition: 0.5s;
    height: 0;
    z-index: 10;
    overflow: hidden;
  }

  .navbar.active {
    height: 100%;
  }

  .navbar>ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .navbar.active>ul {
    opacity: 1;
  }

  .navbar>ul>li>a {
    border-bottom: 2px solid var(--primary-color);
    flex-direction: row;
  }

  .navbar>ul>li>a>img {
    width: 96px;
  }
}

/* Memory game */
#game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 96px);
}

::selection {
  color: var(--white-color);
  background: var(--primary-color);
}

.wrapper {
  padding: 25px;
  background: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
}

.cards,
.card,
.view,
.details,
.details+p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  height: 350px;
  width: 350px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.cards .card {
  cursor: pointer;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}

.card.shake {
  animation: shake 0.35s ease-in-out;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-13px);
  }

  40% {
    transform: translateX(13px);
  }

  60% {
    transform: translateX(-8px);
  }

  80% {
    transform: translateX(8px);
  }
}

.cards .card .view {
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
  position: absolute;
  background: var(--white-color);
  border-radius: 7px;
  backface-visibility: hidden;
  transition: transform 0.25s linear;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card .front-view img {
  max-width: 17px;
}

.card .back-view {
  transform: rotateY(-180deg);
}

.card .back-view img {
  max-width: 40px;
}

.card.flip .front-view {
  transform: rotateY(180deg);
}

.card.flip .back-view {
  transform: rotateY(0);
}

.details {
  width: 100%;
  margin-top: 15px;
  padding: 0 20px;
  border-radius: 7px;
  background: var(--white-color);
  height: calc(100% / 4 - 30px);
  justify-content: space-between;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.details p {
  font-size: 18px;
  height: 17px;
  padding-right: 18px;
  border-right: 1px solid #ccc;
}

.details p span {
  margin-left: 8px;
}

.details p b {
  font-weight: 500;
}

.details button {
  cursor: pointer;
  font-size: 14px;
  color: var(--primary-color);
  font-weight: bold;
  border-radius: 4px;
  padding: 4px 11px;
  background: var(--white-color);
  border: 2px solid var(--primary-color);
  transition: 0.3s ease;
}

.details button:hover {
  color: var(--white-color);
  background: var(--primary-color);
}

@media screen and (max-width: 700px) {
  .cards {
    height: 350px;
    width: 350px;
  }

  .card .front-view img {
    max-width: 16px;
  }

  .card .back-view img {
    max-width: 40px;
  }
}

@media screen and (max-width: 530px) {
  .cards {
    height: 300px;
    width: 300px;
  }

  .card .back-view img {
    max-width: 35px;
  }

  .details {
    margin-top: 10px;
    padding: 0 15px;
    height: calc(100% / 4 - 20px);
  }

  .details p {
    height: 15px;
    font-size: 17px;
    padding-right: 13px;
  }

  .details button {
    font-size: 13px;
    padding: 5px 10px;
    border: none;
    color: var(--white-color);
    background: var(--primary-color);
  }
}

/* Mentions Légales */
section#mentions {
  padding: 20px;
}

article#mentions-legales {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

article#mentions-legales>#heb+h2 {
  background-color: var(--primary-color);
  padding: 10px 20px;
}

article#mentions-legales>dl {
  background-color: var(--secondary-color);
  padding: 20px;
}

article#mentions-legales>dd>dt {
  border-left: 2px solid var(--primary-color);
}

article#mentions-legales>dl :is(dd) {
  margin: 10px;
}

footer {
  background-color: var(--third-color);
  text-align: center;
  color: var(--white-color);
  padding: 10px;
  font-weight: bold;
}

.footer {
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer img {
  width: 96px;
}