:root {

  /* Hexa-color */
  --primary-color: #a63a50;
  --secondary-color: #f0e7d8;
  --third-color: #a1674a;

  --white-color: #F7F7F7;
  --black-color: #131313;

  /* RGBA */
  --rgba-primary-color: rgb(166, 58, 80);
  --rgba-secondary-color: rgb(240, 231, 216);
  --rgba-third-color: rgb(161, 103, 74);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

body {
  background-color: var(--secondary-color);
  font-family: 'Balsamiq Sans',
    cursive;
  font-family: 'Heebo',
    sans-serif;
  color: var(--black-color);
}